html{
    font-size: 62.5%;
    height: 100%;
    overflow: hidden;
    background: url(../images/bg-desktop.svg) center center fixed no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

.logo img{
    width: 28rem;
    padding: 2rem;
    margin-top: 1rem;
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 4rem;
    gap: 1rem;
  
}
.banner img{
    max-width: 100%;
    height: auto;
    padding: 1rem;
}
.info{
    max-width: 600px;
    padding: 30px; 
}
.info h1{
    font-size: 28px;
    margin-bottom: 1.5rem;
    line-height: 4rem; 

    
}
.info p{
    margin-bottom: 4rem;
    font-size: 1.6rem; 
    line-height: 2.5rem; 

}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25rem;
    width: 120px;
    border-radius: 3.5rem;
    border: none;
    cursor: pointer;
    padding: 1rem;
    background-color: #fff;
    color: #767474;
    
}
button:hover{
    transition: 0.3s;
    font-weight: 700;
}
footer{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin-top:  -8rem;
    margin-right: 10rem;
    
}